{% extends "base.html" %}
{% block content %}
<h2>PROJECTS</h2>
<a type="button" href="{% url 'project:create' %}">ADD PROJECT</a>
<form method="POST">
{% csrf_token %}
<select name="show_records">
  <option disabled selected="true">--select--</option>
  <option>5</option>
  <option>10</option>
  <option>15</option>
  <option>20</option>
  <option>25</option>
  <option>30</option>
  <option>40</option>
  <option>50</option>
  <option>60</option>
  <option>70</option>
  <option>80</option>
  <option>90</option>
  <option>100</option>
</select>
<button type="submit">show records</button>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Project REF</th>
      <th scope="col">Project Title</th>
      <th scope="col">modify<th>
    </tr>
</thead>
{% if project_list %}
{% for project in project_list %}
<tbody>

  <tr>
    <th scope="row">{{project.id}}</th>
    <td>{{ project.project_ref }}</td>
    <td>{{ project.project_title }}</td>
    <td>
      <div class="btn-group">
        <a type="button" class="btn btn-primary btn-sm"  href="/projects/{{ project.id }}/">VIEW</a>
        <a type="button" class="btn btn-warning btn-sm" href="/projects/{{ project.id }}/edit">EDIT</a>
        <a type="button" class="btn btn-danger btn-sm" href="/projects/{{ project.id }}/delete">DELETE</a>
      </div>
    </td>
  </tr>
</tbody>
  {% endfor %}
  {% else %}
  <p>No projects available.</p>
  {% endif %}

</form>
{% endblock %}